body {
    margin-top: 52px;
    margin-bottom: 52px; 
    margin-left: 124;
    margin-right: 124px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)), url(wallpaper.jpg);
    background-repeat: no-repeat;
    
}

body .ms-3 {
    color: aliceblue;
    border: 7px ridge #5f5f5f;
    background: #383838;
}

.form-label {
    border: 7px ridge #5f5f5f;
    background: #242424;

}

.h4 {
    border: 7px ridge #5f5f5f;
    background: #242424;
}

div .script {
    border: 7px ridge #5f5f5f;
    background: #242424;
}

div .statue {
    color: aliceblue;
    border: 7px ridge #5f5f5f;
    background: #383838;
}